@model Solution.Common.ViewModel.CompanyVM

@{
    ViewData["Title"] = "Create New Company";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="page-header">
    <h2>Company</h2>
    <div class="right-wrapper text-end">
        <ol class="breadcrumbs">
            <li>
                <a asp-controller="Home" asp-action="Index">
                    <i class="bx bx-home-alt"></i>
                </a>
            </li>
            <li><span><a href="@Url.Action("Index", "CompanyUI")">Company</a></span></li>
            <li><span>Create</span></li>
        </ol>
        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a>
    </div>
</header>

<section class="card">
	<header class="card-header">
		<h2 class="card-title">Create New Company</h2>
	</header>
	<div class="card-body">
        <form id="Createcompany" asp-action="Create" method="post">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Compname" class="control-label">Company Name</label>
                        <input asp-for="Compname" class="form-control" />
                        <span asp-validation-for="Compname" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Abn" class="control-label">ABN</label>
                        <input asp-for="Abn" class="form-control" />
                        <span asp-validation-for="Abn" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Addr1" class="control-label">Address 1</label>
                        <input asp-for="Addr1" class="form-control"/>
                        <span asp-validation-for="Addr1" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Addr2" class="control-label">Address 2</label>
                        <input asp-for="Addr2" class="form-control"/>
                        <span asp-validation-for="Addr2" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 form-group">
                    <label asp-for="City" class="control-label">City</label>
                    <input asp-for="City" class="form-control" data-tooltip="Enter the city of company" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="col-md-6 form-group">
                    <label asp-for="State" class="control-label">State</label>
                    <input asp-for="State" class="form-control" data-tooltip="Enter the state of the company" />
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>
            </div>

            <!-- Add additional rows and columns as needed for remaining fields -->

            <div class="form-group" style="float:right; margin-top: 20px;">
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-primary" onclick="resetForm()">Reset</button>
                <a href="@Url.Action("Index", "CompanyUI")" class="btn btn-active-color-warning">Back</a>
            </div>
        </form>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<script>
    function resetForm() {
        document.getElementById('Createcompany').reset();
    }
</script>
