@{
    ViewData["Title"] = "Permissions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="page-header">
    <h2>Permissions</h2>

    <div class="right-wrapper text-end">
        <ol class="breadcrumbs">
            <li>
                <a asp-controller="Home" asp-action="Index">
                    <i class="bx bx-home-alt"></i>
                </a>
            </li>
            <li><span>Permissions</span></li>
            <li><span>Index</span></li>
        </ol>
        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a>
    </div>
</header>
<!-- start: page -->
<section class="card">
    <header class="card-header">
        <div class="card-actions">
            <a href="@Url.Action("Create", "PermissionUI")" class="btn btn-primary btn-square" title="Add">
                <i class="bi bi-plus"></i>
            </a>
        </div>

        <h2 class="card-title">Permissions</h2>
    </header>
    <div class="card-body">
        <table class="table table-bordered table-striped mb-0" id="permissionTable">
            <thead>
                <tr>
                    <th>Permission Name</th>
                    <th>Controller</th>
                    @* <th>IsMenu</th> *@
                    <th>Action</th>
                    @* <th>OperationType</th> *@
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <!-- Rows will be populated by DataTables -->
            </tbody>
        </table>

    </div>
</section>
<!-- end: page -->
<script>
    $(document).ready(function () {
        LoadPermission();
    });

    function LoadPermission() {
        if ($.fn.dataTable.isDataTable("#permissionTable")) {
            $("#permissionTable").DataTable().clear().destroy();
        }

        $("#permissionTable").DataTable({
            processing: true,
            serverSide: true,
            responsive: true,
            ajax: {
                url: "/PermissionUI/GetAllPermission",
                type: "GET",
                dataType: 'json',
                data: function (d) {
                    return {
                        draw: d.draw,
                        start: d.start,
                        length: d.length,
                        searchValue: d.search.value
                    };
                }
            },
            columns: [
                {
                    data: "permissionName",
                    name: "Permission Name",
                    autoWidth: true,
                },
                {
                    data: "controller",
                    name: "Controller",
                    autoWidth: true,
                },
                // {
                //     data: "isMenu",
                //     name: "IsMenu",
                //     autoWidth: true,
                // },
                {
                    data: "action",
                    name: "Action",
                    autoWidth: true,
                },
                // {
                //     data: "operationType",
                //     name: "OperationType",
                //     autoWidth: true,
                // },
                {
                    "data": null,
                    "orderable": false,
                    "className": "actions-column",
                    "render": function (data, type, row) {
                        return `
                                <a href="/PermissionUI/Edit/${row.id}" class="icon-btn btn-primary btn-sm">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                                        <a href="/PermissionUI/Details/${row.id}" class= "icon-btn btn-info btn-sm" >
                                     <i class="bi bi-info-square" > </i>
                                     </a>
                                <a onclick="confirmDelete('${row.id}')" class="icon-btn btn-danger btn-sm" title="Delete">
                                    <i class="bi bi-trash"></i>
                                </a>
                            `;
                    }
                }
            ]
        });
    }

    function confirmDelete(id) {
        const isConfirmed = confirm("Are you sure you want to delete?");
        if (isConfirmed) {
            deletePermission(id);
        }
    }

    function deleteRole(Id) {
        $.ajax({
            url: '/PermissionUI/Delete',
            type: 'POST',
            data: { id: Id },
            success: function (result) {
                if (result.success) {
                    alert(result.message);
                    $('#rolesTable').DataTable().ajax.reload();
                } else {
                    alert(result.message);
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert("Error occurred: " + thrownError);
            }
        });
    }
</script>
