@{
    ViewData["Title"] = "Roles List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="page-header">
	<h2>Role</h2>

	<div class="right-wrapper text-end">
		<ol class="breadcrumbs">
			<li>
				<a asp-controller="Home" asp-action="Index">
					<i class="bx bx-home-alt"></i>
				</a>
			</li>
			<li><span>Role</span></li>
			<li><span>Index</span></li>
		</ol>
        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a>
	</div>
</header>
<!-- start: page -->
<section class="card">
	<header class="card-header">
		<div class="card-actions">
            <a href="@Url.Action("Create", "RolesUI")" class="btn btn-primary btn-square" title="Add">
                <i class="bi bi-plus"></i>
            </a>
		</div>

		<h2 class="card-title">Roles</h2>
	</header>
	<div class="card-body">
		<table class="table table-bordered table-striped mb-0" id="datatable-editable">
			<thead>
                <tr>
                    <th>Role Name</th>
                    @* <th>NormalizedName</th>
                    <th>ConcurrencyStamp</th> *@
                    <th>Action</th>

                </tr>
			</thead>
			<tbody>
				<!-- Rows will be populated by DataTables -->
			</tbody>
		</table>

	</div>
</section>
<!-- end: page -->
<script>
    $(document).ready(function () {
        LoadRoles();
    });

    function LoadRoles() {
        if ($.fn.dataTable.isDataTable("#datatable-editable")) {
            $("#datatable-editable").DataTable().clear().destroy();
        }

        $("#datatable-editable").DataTable({
            processing: true,
            serverSide: true,
            responsive: true,
            ajax: {
                url: "/RolesUI/GetAllRoles",
                type: "GET",
                dataType: 'json',
                data: function (d) {
                    return {
                        draw: d.draw,
                        start: d.start,
                        length: d.length,
                        searchValue: d.search.value
                    };
                }
            },
            columns: [
                {
                    data: "name",
                    name: "Role Name",
                    autoWidth: true,
                },
                // {
                //     data: "normalizedName",
                //     name: "Normalized Name",
                //     autoWidth: true,
                // },
                // {
                //     data: "concurrencyStamp",
                //     name: "Concurrency Stamp",
                //     autoWidth: true,
                // },
                {
                    orderable: false,
                    className: 'actions-column',
                    render: function (data, type, row) {
                        return `
                            <a href="/RolesUI/Edit/${row.id}" class="icon-btn btn-primary btn-sm">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                            <a href="/RolesUI/Details/${row.id}" class="icon-btn btn-info btn-sm">
                                <i class="bi bi-info-square"></i>
                            </a>
                            <a onclick="confirmDelete('${row.id}')" class="icon-btn btn-danger btn-sm" title="Delete">
                                <i class="bi bi-trash"></i>
                            </a>
                        `;

                    }
                }
            ]
        });
    }

    function confirmDelete(id) {
        const isConfirmed = confirm("Are you sure you want to delete?");
        if (isConfirmed) {
            deleteRole(id);
        }
    }

    function deleteRole(Id) {
        $.ajax({
            url: '/RolesUI/Delete',
            type: 'POST',
            data: { id: Id },
            success: function (result) {
                if (result.success) {
                    alert(result.message);
                    $('#datatable-editable').DataTable().ajax.reload();
                } else {
                    alert(result.message);
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert("Error occurred: " + thrownError);
            }
        });
    }
</script>